<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	
	<div id="app">
		<h1>{{message}}</h1>
		<h2>Count: {{counter}}</h2>
		<button v-on:click="onCountClick()">Click me!</button>
	</div>

	<hr>

	<div id="app-calc">
		<h1>Calculator</h1>
		<button v-on:click="calcResult()">Calc!</button>
		<input type="number" v-model="number1">
		+
		<input type="number" v-model="number2">
		=
		<span>{{result}}</span>
	</div>

	<hr>

	<div id="app-movies">
		<div class="container  my-5">
			<h1>Movie search</h1>
			<div class="input-group mb-3">
				<input v-model="searchText" type="text" class="form-control" placeholder="Search text...">
				<div class="input-group-append">
					<button v-on:click="onSearch()" class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<ul class="list-group">
						<li
							v-bind:class="{'active': selectedMovie == item}" 
							v-on:click="onMovieClick(item)" 
							v-for="item in movies" 
							class="list-group-item">
							{{item.Title}}
						</li>
					</ul>
				</div>
				<div class="col-md-6">
					<div class="card" v-if="fullMovieInfo">
						<img v-bind:src="fullMovieInfo.Poster" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">{{fullMovieInfo.Title}}</h5>
							<p class="card-text">{{fullMovieInfo.Plot}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="./script.js"></script>
</body>

</html>