/* *:hover {
	transition: 1s;
	transform: rotate(360deg);
} */

@font-face {
	src: url(./SketchGothicSchool.ttf);
	font-family: SketchGothicSchool;
}

body {
	margin: 0;
	background-image: url(http://abcgomel.ru/solana/images/sliders/slider-1/slider-bg-2.jpg);
    background-repeat: no-repeat;
	background-position: center;
	font-family: Oswald;
}

.container {
	width: 700px;
	margin: auto;
	margin-top: 40px;
}

header {
	background-color: aquamarine;
	padding-top: 1px;
}

header img {
	width: 50px;
	height: 50px;
}

.header-wrapper {
	display: flex;
	align-items: center;
	padding: 0 20px;
}

.header-text {
	display: flex;
	flex-direction: column;
	padding-left: 20px;
}

.header-text h1 {
	margin: 0;
}

.header-text p {
	margin: 5px 0;
}

header nav {
	background-color: blueviolet;
}

header nav ul {
	height: 35px;
	margin: 0;
	/* padding: 10px 5px; */
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

header nav ul li { 
	padding: 0 20px;
	background-color: pink;
	height: 100%;
	display: flex;
	align-items: center;
	transition: 1s all;
}

header nav ul li:hover {
	background-color: darkmagenta;
}

header nav a {
	color: white;
	text-decoration: none;
}

header h1 {
	color: white;
	/* text-align: center; */
}

.wrapper {
	display: flex;
}

aside {
	width: 30%;
	background-color: tomato;
	display: flex;
	flex-direction: column;
    justify-content: space-evenly;
}

aside img {
	width: 100%;
	height: 100px;
	object-fit: cover;
	padding: 0 10px;
	box-sizing: border-box;
	transition: 1s all;
}

aside:hover img {
	/* transform: scale(2); */
	transform: scale(1.2) rotate(90deg);
}

main {
	width: 70%;
	padding: 20px;
	box-sizing: border-box;
	background-color: white;
}

main h2 {
	margin-top: 0;
}

footer {
	background-color: magenta;
	text-align: center;
	color: white;
	padding: 20px;
}