.navbar-brand {
	img {
		height: 25px;
	}
}

.carousel {
	img {
		height: 400px;
		object-fit: cover;
	}
}

.row-cards {
	margin: 0 -4px;
}

.banner {
	.card-img-overlay {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}
	
	img {
		height: 400px;
	}
}

footer {
	ul {
		padding: 0;
		list-style: none;
	}
}