.navbar-brand img {
  height: 25px;
}

.carousel img {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.row-cards {
  margin: 0 -4px;
}

.banner .card-img-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner img {
  height: 400px;
}

footer ul {
  padding: 0;
  list-style: none;
}
/*# sourceMappingURL=style.css.map */