p {
	/* color: magenta; */
	/* color: #eb30bc; */
	/* color: rgb(255, 0, 255); */
	/* color: rgba(255, 0, 255, 0.1); */
	/* color: hsl(120, 100%, 50%); */
	/* color: hsla(120, 100%, 50%, 0.1) */

	/* color: black;
	background-color: aquamarine; */

	/* font-size: 20px;
	font-weight: lighter;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-style: italic; */

	/* text-align: left; */
	/* text-decoration: underline red wavy; */
	/* text-decoration-line: underline;
	text-decoration-color: red;
	text-decoration-style: wavy; */

	/* word-spacing: 100px;
	letter-spacing: 10px;
	line-height: 50px; */

	/* text-transform: uppercase; */
}

/* p {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text {
	font-weight: lighter;
}

#firstText {
	color: green;
}

#secondText {
	color: red;
} */

/* #firstText {
	color: blue !important;
}

.text {
	color: green !important;
}

p {
	color: red !important;
} */

#firstText {
	background-color: cyan;
	/* margin: 30px; */
	/* margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 30px;
	margin-left: 40px; */
	margin: 10px 20px 30px 40px;

	/* padding: 20px; */
	padding: 10px 5px;

	/* border-width: 3px;
	border-style: solid;
	border-color: red; */
	border-top: 3px dashed red;
	border-bottom: 5px double green;
	border-radius: 10px;

	/* outline: 5px solid magenta;
	outline-offset: 10px; */
}

.code {
	background-color: gray;
	font-weight: bold;
}


/* 
	color
	background-color
	font-size
	font-weight
	font-style
	font-family
	text-align
	text-decoration
*/