.box {
	width: 100px;
	height: 100px;
	background-color: red;
	border: 1px solid black;
}

.header {
	cursor: pointer;
	user-select: none;
}

.active {
	color: red;
}

.content {
	border: 1px solid black;
	background-color: whitesmoke;
	padding: 20px;
	font-size: 20px;
}