.box {
  width: 100px;
  height: 100px;
  background-color: red;
  border: 1px solid black;
}

.header {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.active {
  color: red;
}

.content {
  border: 1px solid black;
  background-color: whitesmoke;
  padding: 20px;
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */