body {
	margin: 0;
	background-image: url(./bg.jpg);
	background-repeat: no-repeat;
	background-position-x: center;
	font-family: 'Oswald', sans-serif;
	background-color: whitesmoke;
}

.container {
	/* background: whitesmoke; */
	margin: 20px auto;
	width: 1000px;
	/* height: 700px; */

	display: grid;
	grid-template-rows: 70px 500px 250px;
	grid-template-columns: repeat(4, 1fr);
}

header {
	background-color: #414146;
	grid-column: 1 / 5;

	display: grid;
	grid-template-columns: 200px 1fr 150px;

	align-items: center;
}

header img {
	height: 30px;
	padding: 0 20px;
}

#search {
	background-color: #565a60;
	height: 100%;
}

#slides {
	background: transparent;
	grid-column: 1 / 5;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	color: white;
}

#slides h1 {
	color: #414146;
	background-color: hsl(55, 100%, 50%);
	display: inline;
	font-size: 50px;
	padding: 5px 10px;
	text-transform: uppercase;
	font-weight: lighter;
	margin: 0;
	animation-name: slideTop;
	animation-duration: 2s;
	/* animation-iteration-count: infinite;
	animation-direction: alternate; */
	/* animation-timing-function: cubic-bezier(0, 0.79, 0.95, 0.03); */
}

#slides h2 {
	color: white;
	background-color: #565a60;
	display: inline;
	padding: 5px 10px;
	text-transform: uppercase;
	font-weight: lighter;
	animation-name: slideBottom;
	animation-duration: 2s;
}

#slides .button {
	color: white;
	background-color: #565a60;
	text-transform: uppercase;
	height: 35px;
	display: flex;
	align-items: center;
	animation-name: slideLeft;
	animation-duration: 3s;
}

#slides .button .text {
	padding: 0px 10px;
}

#slides .button .arrow{
	color: #414146;
	background-color: hsl(55, 100%, 50%);
	height: 35px;
	width: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.service:nth-child(3) {
	background-color: white;
} 

.service:nth-child(4) {
	background-color: hsl(55, 100%, 50%);
} 

.service:nth-child(5) {
	background-color: hsl(55, 100%, 45%);
} 

.service:nth-child(6) {
	background-color: hsl(55, 100%, 40%);
} 

.service {
	transition: 1s all;
}

.service:hover {
	background-color: white;
}

@keyframes slideTop {
	0% {
		opacity: 0;
		transform: translateY(-300px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes slideBottom {
	0% {
		transform: translateY(1000px);
	}

	100% {
		transform: translateY(0px);
	}
}


@keyframes slideLeft {
	0% {
		transform: translateX(-1000px);
	}

	5% {
		transform: translateX(-800px);
	}

	100% {
		transform: translateX(0px);
	}
}


/* @keyframes changeColor {
	0% {
		background-color: red;
	}

	50% {
		background-color: green;
	}

	100% {
		background-color: blue;
	}
} */

@media (max-width: 767px) {
	.container {
		grid-template-rows: 170px 250px 250px 250px 250px 250px;
		grid-template-columns: 1fr;
		max-width: 400px;
	}

	header, #slides {
		grid-column: auto;
	}

	header {
		grid-template-columns: 1fr;
		grid-template-rows: 50px 50px 50px;
		height: 150px;
	}

	nav {
		height: 50px;
	}

	#slides h2, #slides .button {
		display: none;
	}
}
