.container {
	width: 300px;
	height: 300px;
	display: flex;
	flex-wrap: wrap;
}

.box {
	width: 100px;
	height: 100px;
}

.new-box {
	width: 150px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: sans-serif;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}