body {
	margin: 0;
}

.container {
	width: 600px;
	height: 600px;
	border: 1px solid green;

	display: grid;
	
	/* grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 200px 300px; */
	/* grid-template: repeat(3, 120px) / repeat(4, 120px); */
	/* grid-template: repeat(3, 150px) / repeat(4, 100px); */
	grid-template: repeat(3, 1fr) / repeat(4, 1fr);


	/* grid-column-gap: 10px;
	grid-row-gap: 20px; */
	grid-gap: 5px;

	align-items: stretch;
	justify-items: stretch;
	/* place-items: center; */

	align-content: flex-start;
	justify-content: center;
	/* place-content: center; */

	/* grid-auto-rows: 50px;
	grid-auto-columns: 50px;
	grid-auto-flow: row; */
}

.box {
	background: red;
	border: 1px solid black;
	/* width: 100px;
	height: 100px; */
	color:  white;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}

#red {
	background: red; 
	/* grid-column-start: 1;
	grid-column-end: 5; */
	grid-column: 1 / 5;
}

#green {
	background: green; 
	grid-column: 1 / 3;
	grid-row: 2 / 4;
}

#blue {
	background: blue; 
}

#cyan {
	background: cyan; 
}

#magenta {
	background: magenta; 
}

#yellow {
	background: yellow; 
}