.box {
  width: calc(100% / 3);
  height: 200px;
  background-color: pink;
  border: 1px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  color: blue;
  width: calc(100% / 3);
  height: 200px;
  background-color: cyan;
  border: 1px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  color: blue;
}

ul {
  font-weight: bold;
}

nav ul {
  color: blue;
}

nav ul li {
  text-decoration: underline;
}

nav ul li:hover {
  color: red;
}

@media (max-width: 700px) {
  nav ul li {
    background-color: cyan;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box:nth-child(1) {
  background-color: #bd9e0a;
}

.box:nth-child(2) {
  background-color: #d6a8ca;
}

.box:nth-child(3) {
  background-color: #4c0b35;
}

.box:nth-child(4) {
  background-color: #59959b;
}

.box:nth-child(5) {
  background-color: #dc438e;
}

.box:nth-child(6) {
  background-color: #ed0fcf;
}
/*# sourceMappingURL=style.css.map */