@import 'variables';

@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin red-box {
	width: 200px;
	height: 200px;
	background-color: red;
	border: 1px solid black;
}

@mixin align($justify-content: center, $align-items: center) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
}

@mixin box($bgcolor) {
	width: calc(100% / #{$divs-per-row}); 
	height: 200px;
	background-color: $bgcolor;
	border: 1px solid black;
	box-sizing: border-box;
}

@function randomNum($min, $max) {
	$rand: random();
	$randomNum: $min + floor($rand * (($max - $min) + 1));
  
	@return $randomNum;
}

.box {
	// @include red-box;
	// @include center;
	@include box(pink);
	@include align;
	// @include align(flex-start, flex-end);
}

h1 {
	color: $maincolor;
	@include box(cyan);
}

p {
	color: $maincolor;
}

ul {
	font-weight: bold;
}

nav {
	ul {
		color: $maincolor;
		
		li {
			text-decoration: underline;

			&:hover {
				color: red;
			}

			@media (max-width: 700px) {
				background-color: cyan;
			}
		}
	}
}

.container {
	display: flex;
	flex-wrap: wrap;
}

// .box {
// 	background-color: $yellow;
// }

// .box:nth-child(2) {
// 	background-color: darken($yellow, 10);
// }

// .box:nth-child(3) {
// 	background-color: darken($yellow, 20);
// }

// .box:nth-child(4) {
// 	background-color: rgb(randomNum(0, 255), randomNum(0, 255), randomNum(0, 255));
// }

@for $i from 1 through 6 {
	.box:nth-child(#{$i}) { 
		background-color: rgb(randomNum(0, 255), randomNum(0, 255), randomNum(0, 255));
	}
}