body {
	margin: 0;
}

.container {
	width: 1000px;
	margin: auto;
}

header {
	background-color: aquamarine;
	padding-top: 1px;
}

header nav {
	background-color: blueviolet;
}

header nav ul {
	margin: 0;
	padding: 10px 5px;
}

header nav ul li {
	display: inline;
	padding: 0 20px;
}

header nav a {
	color: white;
	text-decoration: none;
}

header h1 {
	color: white;
	text-align: center;
}

aside {
	width: 30%;
	background-color: tomato;
	vertical-align: top;
	float: left;

	/* display: inline-block;
	margin-right: -4px; */
}

main {
	width: 70%;
	padding: 20px;
	box-sizing: border-box;
	float: left;

	/* display: inline-block;
	margin-right: -4px; */
}

main h2 {
	margin-top: 0;
}

footer {
	background-color: magenta;
	text-align: center;
	color: white;
	padding: 20px;
	clear: both;
}