body {
	margin: 0;
}

.container {
	margin: auto;
	width: 800px;
	min-height: 100vh;

	display: grid;
	grid-template-rows: 100px 50px 1fr 100px;
	grid-template-columns: 1fr 3fr;

	grid-template-areas: 
		"head ...." 
		"navi navi"
		".... asid"
		"foot main";
}

header {
	background: tomato;
	grid-area: head;
	/* grid-column: 1 / 3; */
}

nav {
	background: palevioletred;
	grid-area: navi;
	/* grid-column: 1 / 3; */
}

aside {
	background: blueviolet;
	grid-area: asid;
}

main {
	background: cyan;
	grid-area: main;
}

footer {
	background: lightgreen;
	/* grid-column: 1 / 3; */
	grid-area: foot;
}