<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="./node_modules/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-4">
				<div class="card">
					<ul class="list-group list-group-flush" id="cityList">

					</ul>
				</div>
				<div class="input-group my-3 city-name">
					<input id="cityName" type="text" class="form-control" placeholder="City name..">
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button" id="addCity">Add</button>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div id="weather">

				</div>
			</div>
		</div>
	</div>

	<!-- <div id="template" hidden>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">{{name}}</h5>
				<h6 class="card-subtitle mb-2 text-muted">{{weather.0.description}}</h6>
				<p class="card-text">{{main.temp}} °C</p>
			</div>
		</div>
	</div> -->

	<script src="./node_modules/jquery/dist/jquery.js"></script>
	<script src="./node_modules/bootstrap/dist/js/bootstrap.js"></script>
	<script src="./node_modules/mustache/mustache.js"></script>
	<script src="./script.js"></script>
</body>

</html>