.city-name {
	width: 100%;
}

#cityList {
	li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
	}
}

.card-body {
	display: flex;
    justify-content: space-between;
    align-items: center;
}