<div class="card">
	<div class="card-body">
		<div class="card-info">
			<h5 class="card-title">{{name}}</h5>
			<h6 class="card-subtitle mb-2 text-muted">{{weather.0.description}}</h6>
			<p class="card-text">{{main.temp}} °C</p>
		</div>
		<div class="card-weather-image">
			<img src="http://openweathermap.org/img/w/{{weather.0.icon}}.png" alt="">
		</div>
	</div>
</div>